{"openapi":"3.1.0","info":{"title":"Insurance App","description":"","version":"0.1.0"},"servers":[{"url":"https:\/\/insurance-app.goodlord.co\/","description":"Development"},{"url":"https:\/\/insurance-app.staging.goodoverlord.com\/","description":"Staging"},{"url":"https:\/\/insurance-app.qa1.goodoverlord.com\/","description":"QA1"},{"url":"https:\/\/insurance-app.demo.goodlord.co\/","description":"Demo"}],"paths":{"\/api\/v1\/agents":{"get":{"operationId":"api_agents_get_collection","tags":["Agent"],"responses":{"200":{"description":"Agent collection","content":{"application\/vnd.api+json":{"schema":{"description":"Agent.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Agent"},"relationships":{"type":"object","properties":{"companies":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Agent-agent_user.read"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Agent.csv-agent_user.read"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of Agent resources.","description":"Retrieves the collection of Agent resources.","parameters":[{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]},"post":{"operationId":"api_agents_post","tags":["Agent"],"responses":{"201":{"description":"Agent resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Agent"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Agent.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Creates a Agent resource.","description":"Creates a Agent resource.","parameters":[],"requestBody":{"description":"The new Agent resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Agent"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Agent.csv"}}},"required":true}}},"\/api\/v1\/agents\/{id}":{"get":{"operationId":"api_agents_id_get","tags":["Agent"],"responses":{"200":{"description":"Agent resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Agent-agent_user.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Agent.csv-agent_user.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a Agent resource.","description":"Retrieves a Agent resource.","parameters":[{"name":"id","in":"path","description":"Agent identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"patch":{"operationId":"api_agents_id_patch","tags":["Agent"],"responses":{"200":{"description":"Agent resource updated","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Agent"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Agent.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Updates the Agent resource.","description":"Updates the Agent resource.","parameters":[{"name":"id","in":"path","description":"Agent identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The updated Agent resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonapi"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.jsonMergePatch"}}},"required":true}}},"\/api\/v1\/me":{"get":{"operationId":"get_me","tags":["Agent"],"responses":{"200":{"description":"Agent resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Agent.AppUserGetDto.jsonapi-me.get"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Agent.UserWithClaimData-me.get"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Agent.UserWithClaimData.csv-me.get"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a Agent resource.","description":"Retrieves a Agent resource.","parameters":[{"name":"include","in":"query","description":"Agent include","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false}]}},"\/api\/v1\/companies":{"get":{"operationId":"api_companies_get_collection","tags":["Company"],"responses":{"200":{"description":"Company collection","content":{"application\/vnd.api+json":{"schema":{"description":"Company.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Company"}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company.csv"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of Company resources.","description":"Retrieves the collection of Company resources.","parameters":[{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]}},"\/api\/v1\/companies\/{id}":{"get":{"operationId":"api_companies_id_get","tags":["Company"],"responses":{"200":{"description":"Company resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Company.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Company"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Company.csv"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a Company resource.","description":"Retrieves a Company resource.","parameters":[{"name":"id","in":"path","description":"Company identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/files":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdfiles_get_collection","tags":["File"],"responses":{"200":{"description":"File collection","content":{"application\/vnd.api+json":{"schema":{"description":"File.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/File"},"relationships":{"type":"object","properties":{"insuranceClaim":{"properties":{"data":{"oneOf":[{"type":"null"},{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}]}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/File-file.read"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/File.csv-file.read"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of File resources.","description":"Retrieves the collection of File resources.","parameters":[{"name":"insuranceClaimId","in":"path","description":"File identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]},"post":{"operationId":"api_insurance_claims_insuranceClaimIdfiles_post","tags":["File"],"responses":{"201":{"description":"FileCreate resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/FileCreate.FilePostDto.jsonapi"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Upload a file to an insurance claim","description":"Upload a file (tenancy agreement, rent schedule, or supporting document)\n                to an insurance claim. The file will be stored and synced to Podio.","parameters":[{"name":"insuranceClaimId","in":"path","description":"FileCreate identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"File upload data","content":{"multipart\/form-data":{"schema":{"type":"object","required":["file","file_type"],"properties":{"file":{"type":"string","format":"binary","description":"The file to upload"},"file_type":{"type":"string","enum":["tenancy-agreement-original","rent-schedule","supporting-document"],"description":"The type of file being uploaded"}}}}},"required":true}}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/files\/{id}":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdfiles_id_get","tags":["File"],"responses":{"200":{"description":"File resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/File.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/File-file.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/File.csv-file.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a File resource.","description":"Retrieves a File resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"File identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"File identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"delete":{"operationId":"api_insurance_claims_insuranceClaimIdfiles_id_delete","tags":["File"],"responses":{"204":{"description":"File resource deleted"},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Removes the File resource.","description":"Removes the File resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"File identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"File identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]}},"\/api\/v1\/insurance_claims":{"get":{"operationId":"api_insurance_claims_get_collection","tags":["InsuranceClaim"],"responses":{"200":{"description":"InsuranceClaim collection","content":{"application\/vnd.api+json":{"schema":{"description":"InsuranceClaim.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/InsuranceClaim"},"relationships":{"type":"object","properties":{"company":{"properties":{"data":{"oneOf":[{"type":"null"},{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}]}}},"rentSchedule":{"properties":{"data":{"oneOf":[{"type":"null"},{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}]}}},"files":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}},"payments":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/InsuranceClaim-insurance_claim.read"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/InsuranceClaim.csv-insurance_claim.read"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of InsuranceClaim resources.","description":"Retrieves the collection of InsuranceClaim resources.","parameters":[{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false},{"name":"company.externalId","in":"query","description":"","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false},{"name":"company.externalId[]","in":"query","description":"","required":false,"deprecated":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true},{"name":"policyUniqueReferenceNumber[]","in":"query","description":"Filter insurance claims by policy unique reference number (RPI ref)","required":false,"deprecated":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true},{"name":"policyUniqueReferenceNumber","in":"query","description":"Filter insurance claims by policy unique reference number (RPI ref)","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false},{"name":"propertyAddress","in":"query","description":"Filter insurance claims by address","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false},{"name":"claimStatus[]","in":"query","description":"Filter insurance claims by status","required":false,"deprecated":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true},{"name":"claimStatus","in":"query","description":"Filter insurance claims by status","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false},{"name":"order[totalPaymentAmount]","in":"query","description":"","required":false,"deprecated":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]},"style":"form","explode":false},{"name":"order[claimDate]","in":"query","description":"","required":false,"deprecated":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]},"style":"form","explode":false},{"name":"order[latestPaymentDate]","in":"query","description":"","required":false,"deprecated":false,"schema":{"type":"string","default":"asc","enum":["asc","desc"]},"style":"form","explode":false},{"name":"include","in":"query","description":"Which relations to include in the response","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false,"example":"company,files,payments"}]},"post":{"operationId":"api_insurance_claims_post","tags":["InsuranceClaim"],"responses":{"201":{"description":"InsuranceClaimCreate resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimCreate.InsuranceClaimPostDto.jsonapi-insurance_claim.read"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimCreate.InsuranceClaimGetDto-insurance_claim.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimCreate.InsuranceClaimGetDto.csv-insurance_claim.read"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}}},"summary":"Creates a InsuranceClaimCreate resource.","description":"Creates a InsuranceClaimCreate resource.","parameters":[],"requestBody":{"description":"The new InsuranceClaimCreate resource","content":{"application\/vnd.api+json":{"example":{"data":{"type":"InsuranceClaimCreate","attributes":{"policyId":1,"propertyAddress":{"line1":"123 Main St","line2":"London","line3":"string","postcode":"SW1A 1AA","country":"England"},"typeOfClaim":"Rent Arrears","rpiUniqueReferenceNumber":"RPI-123456","companyExternalId":1}}}}},"required":false}}},"\/api\/v1\/insurance_claims\/{id}":{"get":{"operationId":"api_insurance_claims_id_get","tags":["InsuranceClaim"],"responses":{"200":{"description":"InsuranceClaim resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim-insurance_claim.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim.csv-insurance_claim.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a InsuranceClaim resource.","description":"Retrieves a InsuranceClaim resource.","parameters":[{"name":"id","in":"path","description":"InsuranceClaim identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"include","in":"query","description":"Which relations to include in the response","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false,"example":"company,files,payments"}]},"patch":{"operationId":"api_insurance_claims_id_patch","tags":["InsuranceClaim"],"responses":{"200":{"description":"InsuranceClaimUpdate resource updated","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimUpdate.InsuranceClaimPatchDto.jsonapi-insurance_claim.read"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimUpdate.InsuranceClaimGetDto-insurance_claim.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaimUpdate.InsuranceClaimGetDto.csv-insurance_claim.read"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Update insurance claim details","description":"Partially update an insurance claim. Only included fields are modified.","parameters":[{"name":"id","in":"path","description":"InsuranceClaimUpdate identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"File upload data","content":{"application\/vnd.api+json":{"example":{"data":{"type":"InsuranceClaimUpdate","id":"\/api\/v1\/insurance_claims\/550e8400-e29b-41d4-a716-446655440000","attributes":{"agencyName":"Updated Agency Name","agentName":"John Smith","agencyEmail":"john@agency.com","agencyPhone":"020 1234 5678","lettingAgentRegistrationNumber":"LARN123456","tenants":[{"name":"John Smith","email":"john@example.com","phone":"+447851000000"},{"name":"Jane Doe","email":"jane@example.com","phone":"+447851000001"}],"propertyAddress":{"line1":"123 New Street","line2":"New Area","line3":"New District","postcode":"SW1A 1AA","country":"England"},"guarantors":[{"name":"Jane Guarantor","address":"123 Guarantor Street","phone":"+447851111111","email":"guarantor@example.com"}],"landlords":[{"name":"John Landlord","address":"456 Landlord Avenue","email":"landlord@example.com","phone":"020 7654 3210"}],"landlordRegistrationNumber":"LARN789","permittedOccupiersName":"Child A, Child B","isTenancyCreatedOnGoodlord":"Yes","isTenancyRemovedAndNowOnFixedTerm":"Periodic","dateBecamePeriodic":"2024-01-15","referencingCompletedByGoodlord":"Yes","isGasAtProperty":"Yes","didUploadEpcToGoodlord":"Yes","dateEpcWasProvidedToTenant":"2024-01-10","howEpcWasGivenToTenant":"Hard copy in person","isEicrOnGoodlord":"Yes","depositType":"Cash deposit","depositCollectedByGoodlord":"Yes","depositPaidBy":"Tenant","dateDepositWasPaid":"2024-01-05","isDepositCertificateOnGoodlord":"Yes","dateDepositProtected":"2024-01-06","prescribedInformationGiven":"Provided in person at tenancy start","depositReplacementCoverLevel":"6 weeks rent","propertyRequiresLicense":"No","dateOfRentArrears":"2024-02-01","rentOutstanding":{"amount":150000,"currency":"GBP"},"reasonForNonPayment":"Tenant lost job","tenantsInDebtRespiteScheme":"No","detailsOfBreach":"Unauthorised subletting","dateAwareOfBreach":"2024-02-15","worksBeingClaimedForDamage":"Repainting, carpet replacement","depositUsedFor":"Rent arrears and damage","datePropertyDamageIdentified":"2024-02-20","currentDisputeInfo":"Tenant disputes damage claim","dateAwareOfDispute":"2024-02-25","trespassOrNuisanceInfo":"N\/A","dateAwareOfTrespassOrNuisance":null,"isPropertyStillOccupied":"No","verificationTenantIsStillOccupyingProperty":"Keys returned, inventory completed","dateLastInspection":"2024-02-28","dateTenantVacated":"2024-02-28","isClaimAgainstDepositFinalisedByDepositScheme":"Yes","isClaimAgainstDepositReplacementFinalised":"Yes","amountAwardedForRentArrears":{"amount":50000,"currency":"GBP"},"depositUseBreakdown":"£500 rent arrears, £200 damage","howDepositClaimWasSettled":"Tenant provided written authorisation for the deductions","depositReplacementUseBreakdown":"£300 rent arrears, £150 damage","forwardingAddress":"123 New Tenant Street, London, SW1A 1AA","agencyInstructedToReLet":"Yes","isPropertyAlreadyReLet":"No","dateNewTenancy":null,"possessionNoticesServed":"Yes","otherNoticesServed":"No","disputesBetweenTenantAndLandlord":"No","detailsOfDisputesBetweenTenantAndLandlord":"Tenant disputes damage assessment","otherRelevantClaimInfo":"Additional context for the claim","noticesServedToLandlord":"No","agencyAccountName":"Acme Lettings","agencyAccountNumber":"12345678","agencySortCode":"12-34-56","remittanceEmail":"remittance@agency.com","gasSafetyCertificates":[{"yearGasCheckCompleted":"2024","dateProvidedToTenants":"2024-03-15","methodOfProvision":"Hard copy in person"},{"yearGasCheckCompleted":"2025","dateProvidedToTenants":"2025-03-20","methodOfProvision":"Email\/Electronic copy"}],"howToRentGuides":[{"guideVersion":"October 2023","dateProvidedToTenant":"2023-11-01","methodOfProvision":"Hard copy by post"},{"guideVersion":"March 2023","dateProvidedToTenant":"2023-04-15","methodOfProvision":"Other"}],"tribunalNotificationDate":"2026-03-01","marketValueExplanation":"Based on comparable local listings within 0.5 miles","firstMonthRentRequestedViaGoodlord":"Yes","keysHandedOverDate":"2026-02-15","tenantOccupationDate":"2026-02-16","detailsOfAntiSocialBehaviour":"Repeated noise complaints from neighbours","dateAwareOfAntiSocialBehaviour":"2026-02-20","rraInfoSheetIssueDate":"2026-04-15","rraInfoSheetIssueMethod":"By Email\/Electronic copy","statementOfTermsInTenancyAgreement":"Yes","statementOfTermsIssuedDate":"2026-04-15","statementOfTermsIssuedMethod":"By Email\/Electronic copy","firstMonthRentRequestedBeforeSigning":"No","firstMonthRentRequestedDate":"2026-04-20","originalTenancyStartDate":"2026-03-01"}}}}},"required":true}}},"\/api\/v1\/insurance_claims\/{id}\/submit":{"post":{"operationId":"api_insurance_claims_idsubmit_post","tags":["InsuranceClaim"],"responses":{"201":{"description":"InsuranceClaim resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/InsuranceClaim.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Submit an insurance claim","description":"Creates a InsuranceClaim resource.","parameters":[{"name":"id","in":"path","description":"InsuranceClaim identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The new InsuranceClaim resource","content":{"application\/vnd.api+json":{"schema":{"type":"object","example":{}}}},"required":false}}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/payments":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdpayments_get_collection","tags":["Payment"],"responses":{"200":{"description":"Payment collection","content":{"application\/vnd.api+json":{"schema":{"description":"Payment.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Payment"},"relationships":{"type":"object","properties":{"insuranceClaim":{"properties":{"data":{"oneOf":[{"type":"null"},{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}]}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Payment-payment.read"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Payment.csv-payment.read"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of Payment resources.","description":"Retrieves the collection of Payment resources.","parameters":[{"name":"insuranceClaimId","in":"path","description":"Payment identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/payments\/{id}":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdpayments_id_get","tags":["Payment"],"responses":{"200":{"description":"Payment resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Payment.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Payment-payment.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Payment.csv-payment.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a Payment resource.","description":"Retrieves a Payment resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"Payment identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"Payment identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/rent_schedule":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_get","tags":["RentSchedule"],"responses":{"200":{"description":"RentSchedule resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule-rent_schedule.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.csv-rent_schedule.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a RentSchedule resource.","description":"Retrieves a RentSchedule resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentSchedule identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"include","in":"query","description":"Which relations to include in the response","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false,"example":"rentScheduleRows"}]}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/rent_schedule\/{rentScheduleId}\/rent_schedule_rows":{"post":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdrent_schedule_rows_post","tags":["RentSchedule"],"responses":{"204":{"description":"RentScheduleRowBulk resource created","links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}}},"summary":"Create multiple rent schedule rows","description":"Creates a RentScheduleRowBulk resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentScheduleRowBulk identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentScheduleRowBulk identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"At least one row; each item matches single-row POST payload (see schema).","content":{"application\/vnd.api+json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["attributes"],"properties":{"type":{"type":"string","example":"RentScheduleRowBulk"},"attributes":{"type":"object","required":["rentScheduleRows"],"properties":{"rentScheduleRows":{"type":"array","minItems":1,"items":{"type":"object","required":["rowType","date","amount"],"properties":{"rowType":{"type":"string","enum":["tenant_payment","rent_due"]},"date":{"type":"string","format":"date"},"amount":{"type":"object","required":["amount","currency"],"properties":{"amount":{"type":"integer","description":"Amount in minor units (e.g. pence)"},"currency":{"type":"string","example":"GBP"}}},"note":{"type":"string","nullable":true}}}}}}}}}},"example":{"data":{"type":"RentScheduleRowBulk","attributes":{"rentScheduleRows":[{"rowType":"tenant_payment","date":"2024-01-15","amount":{"amount":150000,"currency":"GBP"},"note":"First row"},{"rowType":"rent_due","date":"2024-02-15","amount":{"amount":160000,"currency":"GBP"}}]}}}}},"required":true}}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/rent_schedule\/{rentScheduleId}\/submit":{"post":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdsubmit_post","tags":["RentSchedule"],"responses":{"201":{"description":"RentSchedule resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Creates a RentSchedule resource.","description":"Creates a RentSchedule resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentSchedule identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentSchedule identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The new RentSchedule resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentSchedule.csv"}}},"required":true}}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/rent_schedule\/{rentScheduleId}\/rent_schedule_row\/{id}":{"get":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdrent_schedule_row_id_get","tags":["RentScheduleRow"],"responses":{"200":{"description":"RentScheduleRow resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRow.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRow-rent_schedule_row.read"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRow.csv-rent_schedule_row.read"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a RentScheduleRow resource.","description":"Retrieves a RentScheduleRow resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"include","in":"query","description":"Which relations to include in the response","required":false,"deprecated":false,"schema":{"type":"string"},"style":"form","explode":false,"example":"rentSchedule"}]},"delete":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdrent_schedule_row_id_delete","tags":["RentScheduleRow"],"responses":{"204":{"description":"RentScheduleRow resource deleted"},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Removes the RentScheduleRow resource.","description":"Removes the RentScheduleRow resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"RentScheduleRow identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"patch":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdrent_schedule_row_id_patch","tags":["RentScheduleRowUpdate"],"responses":{"200":{"description":"RentScheduleRowUpdate resource updated","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowUpdate.RentScheduleRowPatchDto.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowUpdate.RentScheduleRowGetModel"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowUpdate.RentScheduleRowGetModel.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Updates the RentScheduleRowUpdate resource.","description":"Updates the RentScheduleRowUpdate resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentScheduleRowUpdate identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentScheduleRowUpdate identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"id","in":"path","description":"RentScheduleRowUpdate identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The updated RentScheduleRowUpdate resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowUpdate.jsonapi"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowUpdate.jsonMergePatch"}}},"required":true}}},"\/api\/v1\/insurance_claims\/{insuranceClaimId}\/rent_schedule\/{rentScheduleId}\/rent_schedule_row":{"post":{"operationId":"api_insurance_claims_insuranceClaimIdrent_schedule_rentScheduleIdrent_schedule_row_post","tags":["RentScheduleRowPostDto"],"responses":{"201":{"description":"RentScheduleRowPostDto resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto.RentScheduleRowPostDto.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto.RentScheduleRowGetModel"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto.RentScheduleRowGetModel.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}}},"summary":"Creates a RentScheduleRowPostDto resource.","description":"Creates a RentScheduleRowPostDto resource.","parameters":[{"name":"insuranceClaimId","in":"path","description":"RentScheduleRowPostDto identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false},{"name":"rentScheduleId","in":"path","description":"RentScheduleRowPostDto identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The new RentScheduleRowPostDto resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RentScheduleRowPostDto.csv"}}},"required":true}}},"\/api\/v1\/roles":{"get":{"operationId":"api_roles_get_collection","tags":["Role"],"responses":{"200":{"description":"Role collection","content":{"application\/vnd.api+json":{"schema":{"description":"Role.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Role"},"relationships":{"type":"object","properties":{"roleGroups":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Role"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Role.csv"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of Role resources.","description":"Retrieves the collection of Role resources.","parameters":[{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]},"post":{"operationId":"api_roles_post","tags":["Role"],"responses":{"201":{"description":"Role resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Role"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Role.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Creates a Role resource.","description":"Creates a Role resource.","parameters":[],"requestBody":{"description":"The new Role resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Role"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Role.csv"}}},"required":true}}},"\/api\/v1\/roles\/{id}":{"get":{"operationId":"api_roles_id_get","tags":["Role"],"responses":{"200":{"description":"Role resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Role"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Role.csv"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a Role resource.","description":"Retrieves a Role resource.","parameters":[{"name":"id","in":"path","description":"Role identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"delete":{"operationId":"api_roles_id_delete","tags":["Role"],"responses":{"204":{"description":"Role resource deleted"},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Removes the Role resource.","description":"Removes the Role resource.","parameters":[{"name":"id","in":"path","description":"Role identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"patch":{"operationId":"api_roles_id_patch","tags":["Role"],"responses":{"200":{"description":"Role resource updated","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Role"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/Role.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Updates the Role resource.","description":"Updates the Role resource.","parameters":[{"name":"id","in":"path","description":"Role identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The updated Role resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonapi"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/Role.jsonMergePatch"}}},"required":true}}},"\/api\/v1\/role_groups":{"get":{"operationId":"api_role_groups_get_collection","tags":["RoleGroup"],"responses":{"200":{"description":"RoleGroup collection","content":{"application\/vnd.api+json":{"schema":{"description":"RoleGroup.jsonapi collection.","allOf":[{"$ref":"#\/components\/schemas\/JsonApiCollectionBaseSchema"},{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/RoleGroup"},"relationships":{"type":"object","properties":{"roles":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]}}}}]}},"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/RoleGroup"}}},"text\/csv":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/RoleGroup.csv"}}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves the collection of RoleGroup resources.","description":"Retrieves the collection of RoleGroup resources.","parameters":[{"name":"page","in":"query","description":"The collection page number","required":false,"deprecated":false,"schema":{"type":"integer","default":1},"style":"form","explode":false},{"name":"itemsPerPage","in":"query","description":"The number of items per page","required":false,"deprecated":false,"schema":{"type":"integer","default":50,"minimum":0,"maximum":100},"style":"form","explode":false}]},"post":{"operationId":"api_role_groups_post","tags":["RoleGroup"],"responses":{"201":{"description":"RoleGroup resource created","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Creates a RoleGroup resource.","description":"Creates a RoleGroup resource.","parameters":[],"requestBody":{"description":"The new RoleGroup resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.csv"}}},"required":true}}},"\/api\/v1\/role_groups\/{id}":{"get":{"operationId":"api_role_groups_id_get","tags":["RoleGroup"],"responses":{"200":{"description":"RoleGroup resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.csv"}}}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Retrieves a RoleGroup resource.","description":"Retrieves a RoleGroup resource.","parameters":[{"name":"id","in":"path","description":"RoleGroup identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"delete":{"operationId":"api_role_groups_id_delete","tags":["RoleGroup"],"responses":{"204":{"description":"RoleGroup resource deleted"},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Removes the RoleGroup resource.","description":"Removes the RoleGroup resource.","parameters":[{"name":"id","in":"path","description":"RoleGroup identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}]},"patch":{"operationId":"api_role_groups_id_patch","tags":["RoleGroup"],"responses":{"200":{"description":"RoleGroup resource updated","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonapi"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup"}},"text\/csv":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.csv"}}},"links":{}},"400":{"description":"Invalid input","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"422":{"description":"An error occurred","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ConstraintViolation"}}},"links":{}},"403":{"description":"Forbidden","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}},"404":{"description":"Not found","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/Error.jsonapi"}},"application\/problem+json":{"schema":{"$ref":"#\/components\/schemas\/Error"}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}},"links":{}}},"summary":"Updates the RoleGroup resource.","description":"Updates the RoleGroup resource.","parameters":[{"name":"id","in":"path","description":"RoleGroup identifier","required":true,"deprecated":false,"schema":{"type":"string"},"style":"simple","explode":false}],"requestBody":{"description":"The updated RoleGroup resource","content":{"application\/vnd.api+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonapi"}},"application\/merge-patch+json":{"schema":{"$ref":"#\/components\/schemas\/RoleGroup.jsonMergePatch"}}},"required":true}}}},"components":{"schemas":{"Agent":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"}}}},"Agent-agent_user.read":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company-agent_user.read"}}}},"Agent-me.get":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company-me.get"}}}},"Agent.AppUserGetDto.jsonapi-me.get":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Agent.UserWithClaimData-me.get"},"relationships":{"type":"object","properties":{"companies":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]},"included":{"description":"Related resources requested via the \u0022include\u0022 query parameter.","type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/Company.jsonapi"}]},"readOnly":true,"externalDocs":{"url":"https:\/\/jsonapi.org\/format\/#fetching-includes"}}}},"Agent.UserWithClaimData-me.get":{"type":"object","properties":{"user":{"$ref":"#\/components\/schemas\/Agent-me.get"},"companies":{"type":"array","items":{"type":["string","null"]}},"userRoles":{"type":"array","items":{"type":"string"}},"userTypes":{"type":"array","items":{"type":"string"}}}},"Agent.UserWithClaimData.csv-me.get":{"type":"object","properties":{"user":{"$ref":"#\/components\/schemas\/Agent.csv-me.get"},"companies":{"type":"array","items":{"type":["string","null"]}},"userRoles":{"type":"array","items":{"type":"string"}},"userTypes":{"type":"array","items":{"type":"string"}}}},"Agent.csv":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"}}}},"Agent.csv-agent_user.read":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company.csv-agent_user.read"}}}},"Agent.csv-me.get":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"$ref":"#\/components\/schemas\/Company.csv-me.get"}}}},"Agent.jsonMergePatch":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"roleGroups":{"type":"array","items":{"type":"string"}},"companies":{"type":"array","items":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"}}}},"Agent.jsonapi":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Agent"},"relationships":{"type":"object","properties":{"companies":{"properties":{"data":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}}}}}}},"required":["type","id"]},"included":{"description":"Related resources requested via the \u0022include\u0022 query parameter.","type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/Company.jsonapi"}]},"readOnly":true,"externalDocs":{"url":"https:\/\/jsonapi.org\/format\/#fetching-includes"}}}},"Company":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"externalId":{"type":"string"}}},"Company-agent_user.read":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]}}},"Company-insurance_claim.read":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"externalId":{"type":"string"}}},"Company-me.get":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]}}},"Company.csv":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"externalId":{"type":"string"}}},"Company.csv-agent_user.read":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]}}},"Company.csv-insurance_claim.read":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"externalId":{"type":"string"}}},"Company.csv-me.get":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]}}},"Company.jsonapi":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/Company"}},"required":["type","id"]}}},"ConstraintViolation":{"type":"object","description":"Unprocessable entity","properties":{"status":{"default":422,"type":"integer"},"detail":{"readOnly":true,"type":"string"},"type":{"readOnly":true,"type":"string"},"title":{"readOnly":true,"type":["string","null"]},"instance":{"readOnly":true,"type":["string","null"]}}},"ConstraintViolation.jsonapi":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/ConstraintViolation"}},"required":["type","id"]}}},"Currency":{"type":"object","properties":{"code":{"description":"Currency code.","type":"string"}}},"Currency.csv":{"type":"object","properties":{"code":{"description":"Currency code.","type":"string"}}},"Error":{"type":"object","description":"A representation of common errors.","properties":{"id":{"type":["string","null"]},"title":{"readOnly":true,"description":"A short, human-readable summary of the problem.","type":["string","null"]},"detail":{"readOnly":true,"description":"A human-readable explanation specific to this occurrence of the problem.","type":["string","null"]},"status":{"type":["number","null"],"examples":[404],"default":400},"instance":{"readOnly":true,"description":"A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.","type":["string","null"]},"type":{"readOnly":true,"description":"A URI reference that identifies the problem type","type":"string"},"meta":{"type":"object"},"source":{"type":"object","properties":{"pointer":{"type":"string"},"parameter":{"type":"string"},"header":{"type":"string"}}}}},"Error.jsonapi":{"properties":{"errors":{"type":"array","items":{"allOf":[{"$ref":"#\/components\/schemas\/Error"},{"type":"object","properties":{"source":{"type":"object"},"status":{"type":"string"}}}]}}}},"File":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"},"podioFileId":{"readOnly":true,"type":["string","null"]},"insuranceClaim":{"readOnly":true,"description":"Insurance claim reference - lazy-loaded to avoid circular references.","type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"}}},"File-file.read":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"},"podioFileId":{"readOnly":true,"type":["string","null"]},"insuranceClaim":{"readOnly":true,"description":"Insurance claim reference - lazy-loaded to avoid circular references.","type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"}}},"File-insurance_claim.read":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"}}},"File.csv":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"},"podioFileId":{"readOnly":true,"type":["string","null"]},"insuranceClaim":{"readOnly":true,"description":"Insurance claim reference - lazy-loaded to avoid circular references.","type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"}}},"File.csv-file.read":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"},"podioFileId":{"readOnly":true,"type":["string","null"]},"insuranceClaim":{"readOnly":true,"description":"Insurance claim reference - lazy-loaded to avoid circular references.","type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"}}},"File.csv-insurance_claim.read":{"type":"object","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"}}},"File.jsonapi":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/File"},"relationships":{"type":"object","properties":{"insuranceClaim":{"properties":{"data":{"oneOf":[{"type":"null"},{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string","format":"iri-reference"}}}]}}}}}},"required":["type","id"]},"included":{"description":"Related resources requested via the \u0022include\u0022 query parameter.","type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/InsuranceClaim.jsonapi"}]},"readOnly":true,"externalDocs":{"url":"https:\/\/jsonapi.org\/format\/#fetching-includes"}}}},"FileCreate.FileGetModel":{"type":"object","description":"Input DTO for file upload operations.\nSeparate from FileGetModel to allow different OpenAPI schemas for input vs output.","properties":{"id":{"readOnly":true,"type":"string"},"fileName":{"readOnly":true,"type":"string"},"originalFileName":{"readOnly":true,"type":"string"},"fileSize":{"readOnly":true,"type":["integer","null"]},"mimeType":{"readOnly":true,"type":["string","null"]},"fileType":{"readOnly":true,"type":["string","null"]},"createdAt":{"readOnly":true,"type":["string","null"],"format":"date-time"},"podioFileId":{"readOnly":true,"type":["string","null"]},"insuranceClaim":{"readOnly":true,"description":"Insurance claim reference - lazy-loaded to avoid circular references.","type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"}}},"FileCreate.FilePostDto.jsonapi":{"properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#\/components\/schemas\/FileCreate.FileGetModel"}},"required":["type","id"]}}},"InsuranceClaim":{"type":"object","properties":{"id":{"type":"string"},"externalId":{"type":"string"},"createdAt":{"type":["string","null"],"format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"},"propertyAddress":{"type":"object","additionalProperties":{"type":["string","null"]}},"claimStatus":{"type":"string"},"totalPaymentAmount":{"type":"object","additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"claimReference":{"type":"string"},"firstArrearsDate":{"type":["string","null"],"format":"date-time"},"mediationResponse":{"type":["string","null"]},"claimStatusDescription":{"type":"string"},"claimDate":{"type":"string","format":"date-time"},"policyId":{"type":"integer"},"company":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"},"tenancyId":{"type":["string","null"]},"legalStatus":{"type":["string","null"]},"latestPaymentDate":{"type":["string","null"],"format":"date-time"},"solicitorsClaimReference":{"type":["string","null"]},"firmInstructed":{"type":["string","null"]},"dateLegalInstructed":{"type":["string","null"],"format":"date-time"},"section8DateServed":{"type":["string","null"],"format":"date-time"},"section8DateExpired":{"type":["string","null"],"format":"date-time"},"section21DateServed":{"type":["string","null"],"format":"date-time"},"section21DateExpired":{"type":["string","null"],"format":"date-time"},"dateProceedingsIssued":{"type":["string","null"],"format":"date-time"},"dateOfHearing":{"type":["string","null"],"format":"date-time"},"court":{"type":["string","null"]},"hearingOutcome":{"type":["string","null"]},"possessionDate":{"type":["string","null"],"format":"date-time"},"warrantsAppliedFor":{"type":["string","null"]},"dateOfEviction":{"type":["string","null"],"format":"date-time"},"typeOfClaim":{"type":["string","null"]},"rentScheduleStatus":{"type":["string","null"]},"rentSchedule":{"type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"},"files":{"type":["array","null"],"items":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"}},"payments":{"type":"array","items":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"}},"rpiUniqueReferenceNumber":{"type":["string","null"]},"agencyName":{"type":["string","null"]},"agentName":{"type":["string","null"]},"agencyEmail":{"type":["string","null"]},"agencyPhone":{"type":["string","null"]},"lettingAgentRegistrationNumber":{"type":["string","null"]},"tenants":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"guarantors":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"landlords":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"landlordRegistrationNumber":{"type":["string","null"]},"permittedOccupiersName":{"type":["string","null"]},"isTenancyCreatedOnGoodlord":{"type":["string","null"]},"isTenancyRemovedAndNowOnFixedTerm":{"type":["string","null"]},"dateBecamePeriodic":{"type":["string","null"],"format":"date-time"},"referencingCompletedByGoodlord":{"type":["string","null"]},"isGasAtProperty":{"type":["string","null"]},"didUploadEpcToGoodlord":{"type":["string","null"]},"dateEpcWasProvidedToTenant":{"type":["string","null"],"format":"date-time"},"howEpcWasGivenToTenant":{"type":["string","null"]},"isEicrOnGoodlord":{"type":["string","null"]},"depositType":{"type":["string","null"]},"depositCollectedByGoodlord":{"type":["string","null"]},"depositPaidBy":{"type":["string","null"]},"dateDepositWasPaid":{"type":["string","null"],"format":"date-time"},"isDepositCertificateOnGoodlord":{"type":["string","null"]},"dateDepositProtected":{"type":["string","null"],"format":"date-time"},"prescribedInformationGiven":{"type":["string","null"]},"depositReplacementCoverLevel":{"type":["string","null"]},"propertyRequiresLicense":{"type":["string","null"]},"dateOfRentArrears":{"type":["string","null"],"format":"date-time"},"rentOutstanding":{"type":["object","null"],"additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"reasonForNonPayment":{"type":["string","null"]},"tenantsInDebtRespiteScheme":{"type":["string","null"]},"detailsOfBreach":{"type":["string","null"]},"dateAwareOfBreach":{"type":["string","null"],"format":"date-time"},"worksBeingClaimedForDamage":{"type":["string","null"]},"depositUsedFor":{"type":["string","null"]},"datePropertyDamageIdentified":{"type":["string","null"],"format":"date-time"},"currentDisputeInfo":{"type":["string","null"]},"dateAwareOfDispute":{"type":["string","null"],"format":"date-time"},"trespassOrNuisanceInfo":{"type":["string","null"]},"dateAwareOfTrespassOrNuisance":{"type":["string","null"],"format":"date-time"},"isPropertyStillOccupied":{"type":["string","null"]},"verificationTenantIsStillOccupyingProperty":{"type":["string","null"]},"dateLastInspection":{"type":["string","null"],"format":"date-time"},"dateTenantVacated":{"type":["string","null"],"format":"date-time"},"isClaimAgainstDepositFinalisedByDepositScheme":{"type":["string","null"]},"isClaimAgainstDepositReplacementFinalised":{"type":["string","null"]},"amountAwardedForRentArrears":{"type":["object","null"],"additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"depositUseBreakdown":{"type":["string","null"]},"howDepositClaimWasSettled":{"type":["string","null"]},"depositReplacementUseBreakdown":{"type":["string","null"]},"forwardingAddress":{"type":["string","null"]},"agencyInstructedToReLet":{"type":["string","null"]},"isPropertyAlreadyReLet":{"type":["string","null"]},"dateNewTenancy":{"type":["string","null"],"format":"date-time"},"possessionNoticesServed":{"type":["string","null"]},"otherNoticesServed":{"type":["string","null"]},"disputesBetweenTenantAndLandlord":{"type":["string","null"]},"detailsOfDisputesBetweenTenantAndLandlord":{"type":["string","null"]},"otherRelevantClaimInfo":{"type":["string","null"]},"noticesServedToLandlord":{"type":["string","null"]},"agencyAccountName":{"type":["string","null"]},"agencyAccountNumber":{"type":["string","null"]},"agencySortCode":{"type":["string","null"]},"remittanceEmail":{"type":["string","null"]},"gasSafetyCertificates":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"howToRentGuides":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"tribunalNotificationDate":{"type":["string","null"],"format":"date-time"},"marketValueExplanation":{"type":["string","null"]},"firstMonthRentRequestedViaGoodlord":{"type":["string","null"]},"keysHandedOverDate":{"type":["string","null"],"format":"date-time"},"tenantOccupationDate":{"type":["string","null"],"format":"date-time"},"detailsOfAntiSocialBehaviour":{"type":["string","null"]},"dateAwareOfAntiSocialBehaviour":{"type":["string","null"],"format":"date-time"},"rraInfoSheetIssueDate":{"type":["string","null"],"format":"date-time"},"rraInfoSheetIssueMethod":{"type":["string","null"]},"statementOfTermsInTenancyAgreement":{"type":["string","null"]},"statementOfTermsIssuedDate":{"type":["string","null"],"format":"date-time"},"statementOfTermsIssuedMethod":{"type":["string","null"]},"firstMonthRentRequestedBeforeSigning":{"type":["string","null"]},"firstMonthRentRequestedDate":{"type":["string","null"],"format":"date-time"},"originalTenancyStartDate":{"type":["string","null"],"format":"date-time"}}},"InsuranceClaim-insurance_claim.read":{"type":"object","properties":{"id":{"type":"string"},"externalId":{"type":"string"},"createdAt":{"type":["string","null"],"format":"date-time"},"updatedAt":{"type":["string","null"],"format":"date-time"},"propertyAddress":{"type":"object","additionalProperties":{"type":["string","null"]}},"claimStatus":{"type":"string"},"totalPaymentAmount":{"type":"object","additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"claimReference":{"type":"string"},"firstArrearsDate":{"type":["string","null"],"format":"date-time"},"mediationResponse":{"type":["string","null"]},"claimStatusDescription":{"type":"string"},"claimDate":{"type":"string","format":"date-time"},"policyId":{"type":"integer"},"company":{"$ref":"#\/components\/schemas\/Company-insurance_claim.read"},"tenancyId":{"type":["string","null"]},"legalStatus":{"type":["string","null"]},"latestPaymentDate":{"type":["string","null"],"format":"date-time"},"solicitorsClaimReference":{"type":["string","null"]},"firmInstructed":{"type":["string","null"]},"dateLegalInstructed":{"type":["string","null"],"format":"date-time"},"section8DateServed":{"type":["string","null"],"format":"date-time"},"section8DateExpired":{"type":["string","null"],"format":"date-time"},"section21DateServed":{"type":["string","null"],"format":"date-time"},"section21DateExpired":{"type":["string","null"],"format":"date-time"},"dateProceedingsIssued":{"type":["string","null"],"format":"date-time"},"dateOfHearing":{"type":["string","null"],"format":"date-time"},"court":{"type":["string","null"]},"hearingOutcome":{"type":["string","null"]},"possessionDate":{"type":["string","null"],"format":"date-time"},"warrantsAppliedFor":{"type":["string","null"]},"dateOfEviction":{"type":["string","null"],"format":"date-time"},"typeOfClaim":{"type":["string","null"]},"rentScheduleStatus":{"type":["string","null"]},"rentSchedule":{"type":["string","null"],"format":"iri-reference","example":"https:\/\/example.com\/"},"files":{"type":"array","items":{"$ref":"#\/components\/schemas\/File-insurance_claim.read"}},"payments":{"type":"array","items":{"$ref":"#\/components\/schemas\/Payment-insurance_claim.read"}},"rpiUniqueReferenceNumber":{"type":["string","null"]},"agencyName":{"type":["string","null"]},"agentName":{"type":["string","null"]},"agencyEmail":{"type":["string","null"]},"agencyPhone":{"type":["string","null"]},"lettingAgentRegistrationNumber":{"type":["string","null"]},"tenants":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"guarantors":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"landlords":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"landlordRegistrationNumber":{"type":["string","null"]},"permittedOccupiersName":{"type":["string","null"]},"isTenancyCreatedOnGoodlord":{"type":["string","null"]},"isTenancyRemovedAndNowOnFixedTerm":{"type":["string","null"]},"dateBecamePeriodic":{"type":["string","null"],"format":"date-time"},"referencingCompletedByGoodlord":{"type":["string","null"]},"isGasAtProperty":{"type":["string","null"]},"didUploadEpcToGoodlord":{"type":["string","null"]},"dateEpcWasProvidedToTenant":{"type":["string","null"],"format":"date-time"},"howEpcWasGivenToTenant":{"type":["string","null"]},"isEicrOnGoodlord":{"type":["string","null"]},"depositType":{"type":["string","null"]},"depositCollectedByGoodlord":{"type":["string","null"]},"depositPaidBy":{"type":["string","null"]},"dateDepositWasPaid":{"type":["string","null"],"format":"date-time"},"isDepositCertificateOnGoodlord":{"type":["string","null"]},"dateDepositProtected":{"type":["string","null"],"format":"date-time"},"prescribedInformationGiven":{"type":["string","null"]},"depositReplacementCoverLevel":{"type":["string","null"]},"propertyRequiresLicense":{"type":["string","null"]},"dateOfRentArrears":{"type":["string","null"],"format":"date-time"},"rentOutstanding":{"type":["object","null"],"additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"reasonForNonPayment":{"type":["string","null"]},"tenantsInDebtRespiteScheme":{"type":["string","null"]},"detailsOfBreach":{"type":["string","null"]},"dateAwareOfBreach":{"type":["string","null"],"format":"date-time"},"worksBeingClaimedForDamage":{"type":["string","null"]},"depositUsedFor":{"type":["string","null"]},"datePropertyDamageIdentified":{"type":["string","null"],"format":"date-time"},"currentDisputeInfo":{"type":["string","null"]},"dateAwareOfDispute":{"type":["string","null"],"format":"date-time"},"trespassOrNuisanceInfo":{"type":["string","null"]},"dateAwareOfTrespassOrNuisance":{"type":["string","null"],"format":"date-time"},"isPropertyStillOccupied":{"type":["string","null"]},"verificationTenantIsStillOccupyingProperty":{"type":["string","null"]},"dateLastInspection":{"type":["string","null"],"format":"date-time"},"dateTenantVacated":{"type":["string","null"],"format":"date-time"},"isClaimAgainstDepositFinalisedByDepositScheme":{"type":["string","null"]},"isClaimAgainstDepositReplacementFinalised":{"type":["string","null"]},"amountAwardedForRentArrears":{"type":["object","null"],"additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"depositUseBreakdown":{"type":["string","null"]},"howDepositClaimWasSettled":{"type":["string","null"]},"depositReplacementUseBreakdown":{"type":["string","null"]},"forwardingAddress":{"type":["string","null"]},"agencyInstructedToReLet":{"type":["string","null"]},"isPropertyAlreadyReLet":{"type":["string","null"]},"dateNewTenancy":{"type":["string","null"],"format":"date-time"},"possessionNoticesServed":{"type":["string","null"]},"otherNoticesServed":{"type":["string","null"]},"disputesBetweenTenantAndLandlord":{"type":["string","null"]},"detailsOfDisputesBetweenTenantAndLandlord":{"type":["string","null"]},"otherRelevantClaimInfo":{"type":["string","null"]},"noticesServedToLandlord":{"type":["string","null"]},"agencyAccountName":{"type":["string","null"]},"agencyAccountNumber":{"type":["string","null"]},"agencySortCode":{"type":["string","null"]},"remittanceEmail":{"type":["string","null"]},"gasSafetyCertificates":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"howToRentGuides":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":["string","null"]}}},"tribunalNotificationDate":{"type":["string","null"],"format":"date-time"},"marketValueExplanation":{"type":["string","null"]},"firstMonthRentRequestedViaGoodlord":{"type":["string","null"]},"keysHandedOverDate":{"type":["string","null"],"format":"date-time"},"tenantOccupationDate":{"type":["string","null"],"format":"date-time"},"detailsOfAntiSocialBehaviour":{"type":["string","null"]},"dateAwareOfAntiSocialBehaviour":{"type":["string","null"],"format":"date-time"},"rraInfoSheetIssueDate":{"type":["string","null"],"format":"date-time"},"rraInfoSheetIssueMethod":{"type":["string","null"]},"statementOfTermsInTenancyAgreement":{"type":["string","null"]},"statementOfTermsIssuedDate":{"type":["string","null"],"format":"date-time"},"statementOfTermsIssuedMethod":{"type":["string","null"]},"firstMonthRentRequestedBeforeSigning":{"type":["string","null"]},"firstMonthRentRequestedDate":{"type":["string","null"],"format":"date-time"},"originalTenancyStartDate":{"type":["string","null"],"format":"date-time"}}},"InsuranceClaim-rent_schedule.read":{"type":"object","properties":{"id":{"type":"string"},"externalId":{"type":"string"},"propertyAddress":{"type":"object","additionalProperties":{"type":["string","null"]}},"claimStatus":{"type":"string"},"totalPaymentAmount":{"type":"object","additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"claimReference":{"type":"string"},"firstArrearsDate":{"type":["string","null"],"format":"date-time"},"mediationResponse":{"type":["string","null"]},"claimStatusDescription":{"type":"string"},"claimDate":{"type":"string","format":"date-time"},"policyId":{"type":"integer"},"company":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"},"tenancyId":{"type":["string","null"]},"legalStatus":{"type":["string","null"]},"latestPaymentDate":{"type":["string","null"],"format":"date-time"},"solicitorsClaimReference":{"type":["string","null"]},"firmInstructed":{"type":["string","null"]},"dateLegalInstructed":{"type":["string","null"],"format":"date-time"},"section8DateServed":{"type":["string","null"],"format":"date-time"},"section8DateExpired":{"type":["string","null"],"format":"date-time"},"section21DateServed":{"type":["string","null"],"format":"date-time"},"section21DateExpired":{"type":["string","null"],"format":"date-time"},"dateProceedingsIssued":{"type":["string","null"],"format":"date-time"},"dateOfHearing":{"type":["string","null"],"format":"date-time"},"court":{"type":["string","null"]},"hearingOutcome":{"type":["string","null"]},"possessionDate":{"type":["string","null"],"format":"date-time"},"warrantsAppliedFor":{"type":["string","null"]},"dateOfEviction":{"type":["string","null"],"format":"date-time"},"typeOfClaim":{"type":["string","null"]},"rentScheduleStatus":{"type":["string","null"]},"rpiUniqueReferenceNumber":{"type":["string","null"]}}},"InsuranceClaim-rent_schedule_row.read":{"type":"object","properties":{"id":{"type":"string"},"externalId":{"type":"string"},"claimStatus":{"type":"string"},"totalPaymentAmount":{"type":"object","additionalProperties":{"anyOf":[{"type":"integer"},{"type":"string"}]}},"claimReference":{"type":"string"},"firstArrearsDate":{"type":["string","null"],"format":"date-time"},"mediationResponse":{"type":["string","null"]},"claimStatusDescription":{"type":"string"},"claimDate":{"type":"string","format":"date-time"},"policyId":{"type":"integer"},"company":{"type":"string","format":"iri-reference","example":"https:\/\/example.com\/"},"tenancyId":{"type":["string","null"]},"legalStatus":{"type":["string","null"]},"latestPaymentDate":{"type":["string","null"],"format":"date-time"},"solicitorsClaimReference":{"type":["string","null"]},"firmInstructed":{"type":["string","null"]},"dateLegalInstructed":{"type":["string","null"],"format":"date-time"},"section8DateServed":{"type":["string","null"],"format":"date-time"},"section8DateExpired":{"type":["string","null"],"format":"date-time"},"section21DateServed":{"type":["string","null"],"format":"date-time"},"section21DateExpired":{"type":["string","null"],"format":"date-time"},"dateProceedingsIssued":{"type":["string","null"],"format":"date-time"},"dateOfHearing":{"type":["string","null"],"format":"date-time"},"court":{"type":["string","null"]},"hearingOutcome":{"type":["string","null"]},"possessionDate":{"type":["string","null"],"format":"da
[...]
